---
import Layout from '@layouts/Layout.astro'
import Container from '@share_components/Container.astro'
import Split from '@share_components/Split.astro'

import Calendar from '@assets/icons/calendar.svg'
import Arrow from '@assets/icons/arrow.svg'

import { getPublicationBySlug } from '@lib/api/get-one-publication'
import { getHomeEventsCard } from '@lib/api/get-home-events-card'
import { getHomeProjects } from '@lib/api/get-home-projects'

import ContentMarkdown from '@share_components/ContentMarkdown.astro'

const { slug } = Astro.params

let publication: any = null
let content = ''
let fetchError = false

try {
  publication = await getPublicationBySlug(slug!)
  if (!publication) return Astro.redirect('/404')
  content = publication?.content
} catch (error) {
  fetchError = true
}

let events: any[] = []

try {
  const newEvents: any[] = await getHomeEventsCard()

  for (let i = 0; i < newEvents.length; i++) {
    const event = newEvents[i]

    for (let ii = 0; ii < event.info.length; ii++) {
      const info = event.info[ii]
      if (info.slug === slug) {
        events.push(event.title)
      }
    }
  }
} catch (error) {
  fetchError = true
}

let projects: any[] = []

try {
  const newProjects: any[] = await getHomeProjects()

  for (let i = 0; i < newProjects.length; i++) {
    const project = newProjects[i]

    if (project.slug === slug) {
      projects.push({
        title: project.title,
        slug: project.id,
        content: project.content,
      })
    }
  }
} catch (error) {
  fetchError = true
}
---

<Layout title={(publication?.title ?? slug) + ' - Publicación Pixel'}>
  <Split />

  <Container styles='py-10 grid gap-5 md:gap-10'>
    {
      fetchError ? (
        <section class='text-theme-text text-center'>
          <h2 class='text-theme-title mb-4 text-3xl font-bold'>
            Error al cargar la publicación
          </h2>
          <p class='text-sm text-red-600 md:text-base'>
            Lo sentimos, ocurrió un problema al intentar obtener la información.
            Intenta más tarde.
          </p>
        </section>
      ) : (
        <>
          <section class='text-theme-text grid gap-4 md:gap-7'>
            <div class='flex flex-wrap items-center gap-4 sm:gap-6'>
              <a
                href='/'
                class='border-theme-split hover:bg-theme-split grid place-content-center rounded-xs border-1 px-3 py-2 transition-colors'
              >
                <Arrow class='rotate-180 sm:size-3' />
              </a>

              <div class='flex flex-wrap items-center gap-2 text-xs sm:gap-4 sm:text-sm md:gap-8 md:text-lg'>
                <section class='flex items-center gap-2'>
                  <div class='size-[24px] overflow-hidden'>
                    <img
                      src={publication?.image_author}
                      alt={publication?.author}
                    />
                  </div>
                  <span>{publication?.author}</span>
                </section>

                <section class='flex items-center gap-2'>
                  <Calendar class='size-[24px] overflow-hidden' />
                  <span>{publication?.date}</span>
                </section>
              </div>
            </div>

            <h2 class='text-theme-title max-w-3xl text-4xl leading-11 font-bold md:text-6xl md:leading-16'>
              {publication?.title}
            </h2>
          </section>

          <section class='text-theme-text m-auto grid w-full max-w-4xl gap-6 text-sm font-light md:text-lg'>
            <Split />
            <div>
              <div class='flex flex-wrap justify-between gap-4'>
                {publication?.work_done_bies.length > 0 && (
                  <section>
                    <h3 class='mb-2 text-sm font-semibold md:text-lg'>
                      Trabajo realizado por :
                    </h3>
                    <ul>
                      {publication?.work_done_bies.map(
                        ({ name_member }: { name_member: string }) => (
                          <li class='text-xs sm:text-sm'>{name_member}</li>
                        )
                      )}
                    </ul>
                  </section>
                )}

                {events.length > 0 && (
                  <section>
                    <h3 class='mb-2 text-sm font-semibold md:text-lg'>
                      {events.length > 1 ? 'Eventos :' : 'Evento :'}
                    </h3>
                    <ul>
                      {events.map((event: any) => (
                        <li class='text-xs sm:text-sm'>{event}</li>
                      ))}
                    </ul>
                  </section>
                )}

                {projects.length > 0 && (
                  <section>
                    <h3 class='mb-2 text-sm font-semibold md:text-lg'>
                      {projects.length > 1 ? 'Proyectos :' : 'Proyecto :'}
                    </h3>
                    <ul>
                      {projects.map((project: any) => (
                        <li class='text-xs sm:text-sm'>
                          <a href={`#${project.slug}`}>{project.title}</a>
                        </li>
                      ))}
                    </ul>
                  </section>
                )}
              </div>
              <div class='mt-4 flex flex-wrap items-center gap-2'>
                {publication?.types.map((type: any) => (
                  <button
                    class='border-theme-decoration flex w-max items-center gap-2 rounded-sm border-[1px] px-4 py-1 text-[10px] sm:text-xs'
                    style={`background-color: color-mix(in oklab, ${type.color_type} 10%, transparent);`}
                  >
                    <span>{type.title}</span>
                  </button>
                ))}
              </div>
            </div>

            <Split />

            <ContentMarkdown markdown={content} />

            <Split />

            {projects.length > 0 && (
              <section>
                <h3 class='mb-2 text-lg font-semibold md:text-xl'>
                  {projects.length > 1 ? 'Proyectos' : 'Proyecto'}
                </h3>

                {projects.map((project: any) => (
                  <div>
                    <h2
                      id={project.slug}
                      class='pt-4 pb-2 text-lg font-semibold sm:text-xl'
                    >
                      {project.title}
                    </h2>

                    <ContentMarkdown markdown={project.content} />
                  </div>
                ))}
              </section>
            )}
          </section>
        </>
      )
    }
  </Container>
</Layout>
