---
import Layout from '@layouts/Layout.astro'
import Container from '@share_components/Container.astro'
import Split from '@share_components/Split.astro'

import Calendar from '@assets/icons/calendar.svg'

import { getPublicationBySlug } from '@lib/api/get-one-publication'
import ContentMarkdown from '@share_components/ContentMarkdown.astro'

const { slug } = Astro.params

const publication = await getPublicationBySlug(slug!)

if (!publication) return Astro.redirect('/404')

const content = publication?.content
---

<Layout title={slug + ' - Publicación Pixel'}>
  <Split />

  <Container styles='py-10 grid gap-5 md:gap-10'>
    <section class='grid gap-4 md:gap-7 text-theme-text'>
      <div
        class='flex gap-2 sm:gap-4 md:gap-8 flex-wrap items-center text-xs sm:text-sm md:text-lg'
      >
        <section class='flex gap-2 items-center'>
          <div class='size-[24px] overflow-hidden'>
            <img src={publication?.image_author} alt={publication?.author} />
          </div>

          <span>{publication?.author}</span>
        </section>

        <section class='flex gap-2 items-center'>
          <Calendar class='size-[24px] overflow-hidden' />
          <span>{publication?.date}</span>
        </section>
      </div>

      <h2
        class='text-theme-title text-4xl md:text-6xl font-bold max-w-3xl leading-11 md:leading-16'
      >
        {publication?.title}
      </h2>
    </section>

    <section
      class='max-w-4xl m-auto text-sm md:text-lg font-light text-theme-text w-full grid gap-6'
    >
      <Split />
      <div>
        <div>
          <h3 class='font-normal text-sm md:text-lg mb-2'>
            Trabajo realizado por :
          </h3>

          <ul>
            {
              publication?.work_done_bies.map(
                ({ name_member }: { name_member: string }) => (
                  <li class='text-xs sm:text-sm'>{name_member}</li>
                )
              )
            }
          </ul>
        </div>
        <div class='flex gap-2 items-center flex-wrap mt-4'>
          {
            publication?.types.map((type: any) => (
              <button
                class='flex items-center border-[1px] border-theme-decoration gap-2 text-[10px] sm:text-xs w-max px-4 py-1 rounded-sm'
                style={`background-color: color-mix(in oklab, ${type.color_type} 10%, transparent);`}
              >
                <span>{type.title}</span>
              </button>
            ))
          }
        </div>
      </div>

      <Split />

      <div
        class='prose prose-sm sm:prose-lg lg:prose-xl w-full prose-h1:text-theme-title prose-h2:text-theme-title prose-h3:text-theme-title prose-h4:text-theme-title prose-h5:text-theme-title prose-h6:text-theme-title text-theme-text'
      >
        <ContentMarkdown markdown={content} />
      </div>
    </section>
  </Container>
</Layout>
