---
import GitHub from '@assets/icons/github.svg'
import Redirect from '@assets/icons/redirect.svg'

const {
  title,
  image,
  link_github,
  description,
  technologies,
  // content,
  // author,
  // developers,
  // date_deploy,
} = Astro.props
---

<div class='embla__slide'>
  <article
    class='h-[500px] bg-theme-decoration/10 rounded-sm border-1 border-theme-decoration flex flex-col overflow-hidden'
  >
    <header class='h-[280px] overflow-hidden'>
      <img src={image} alt={title} class='w-full h-full object-cover' />
    </header>

    <main class='p-4 flex-1'>
      <section class='flex gap-2 items-center justify-between'>
        <a href='#' class='truncate w-max'>
          <h2 class='text-theme-title font-medium text-xl'>{title}</h2>
        </a>

        <a
          href={link_github}
          target='_blank'
          rel='noopener noreferrer'
          class='text-theme-text'
        >
          <GitHub width={24} height={24} />
        </a>
      </section>

      <section class='pt-2'>
        <p class='font-light text-xs text-theme-text'>
          {description}
        </p>
      </section>
    </main>

    <footer class='px-4 pb-4 flex items-center justify-between'>
      <section
        class='[&>*]:text-theme-text [&>*]:font-medium [&>*]:text-[8px] [&>*]:border-1 [&>*]:border-theme-decoration [&>*]:rounded-sm [&>*]:px-2 [&>*]:py-1 flex gap-1 overflow-x-auto'
      >
        {technologies.map((tech: any) => <span>{tech.title}</span>)}
      </section>

      <a href={title} class='flex gap-2 items-center text-xs text-theme-text'>
        Leer más
        <Redirect width={16} height={16} />
      </a>
    </footer>
  </article>
</div>
