---
import Articles from '@assets/icons/article.svg'
import Arrow from '@assets/icons/arrow.svg'
import Calendar from '@assets/icons/calendar.svg'

const { title, author, date, description, image_author, slug, types } =
  Astro.props

const link = `publications/${slug}`
const filterTypes = types.map((type: any) => type.title).join(',')
---

<article
  class='border-theme-decoration flex h-72 flex-col gap-3 rounded-sm border-[1px] p-3'
  data-filter-types={filterTypes}
>
  <div class='flex items-center gap-1 sm:gap-4'>
    <Articles
      class='min-h-[40px] min-w-[40px] sm:min-h-[50px] sm:min-w-[50px]'
    />

    <a href={link}>
      <h3
        class='text-theme-title line-clamp-2 text-base font-semibold uppercase sm:text-lg md:text-xl'
      >
        {title}
      </h3>
    </a>
  </div>

  <div class='text-theme-text flex flex-wrap items-center gap-2'>
    <div
      class='border-theme-decoration bg-theme-decoration/10 flex w-max items-center gap-2 rounded-sm border-[1px] px-4 py-1 text-[10px] sm:text-xs'
    >
      <div class='bg-theme-decoration/5 size-3 overflow-hidden sm:size-4'>
        <img
          src={image_author}
          alt={author}
          class='h-full w-full object-cover'
        />
      </div>
      <span>{author}</span>
    </div>
    <div
      class='border-theme-decoration bg-theme-decoration/10 flex w-max items-center gap-2 rounded-sm border-[1px] px-4 py-1 text-[10px] sm:text-xs'
    >
      <Calendar />
      <span>{date}</span>
    </div>
    {
      types.map((type: any) => (
        <div
          class='border-theme-decoration flex w-max items-center gap-2 rounded-sm border-[1px] px-4 py-1 text-[10px] sm:text-xs'
          style={`background-color: color-mix(in oklab, ${type.color_type} 10%, transparent);`}
        >
          <span>{type.title}</span>
        </div>
      ))
    }
  </div>

  <div
    class='text-theme-text h-full flex-1 overflow-y-auto text-xs font-light text-ellipsis [&>*]:mb-2'
  >
    {description}
  </div>

  <a href={link} class='text-theme-text flex w-max items-center gap-1 text-xs'>
    Continuar leyendo <Arrow />
  </a>
</article>
