---
const { year, image, titleEvent, titlePublication, slug } = Astro.props

const isImage =
  image ?? 'https://images6.alphacoders.com/105/thumb-1920-1050408.jpg'
---

<article
  data-filter-years={year}
  class='bg-theme-decoration/10 group relative overflow-hidden'
>
  <section class='h-72'>
    <a href={'publications/' + slug}>
      <img
        src={isImage}
        alt={titleEvent}
        class='h-full w-full object-cover select-none'
      />
    </a>
  </section>

  <section class='p-4'>
    <a
      href={'publications/' + slug}
      class='hover:text-theme-icon text-theme-title'
    >
      <h3
        class='line-clamp-2 text-base font-semibold uppercase sm:text-lg md:text-xl mb-2'
      >
        {titleEvent}
      </h3>
    </a>

    <a
      href={'publications/' + slug}
      class='hover:text-theme-decoration text-theme-text text-sm'
    >
      {titlePublication}
    </a>
  </section>
</article>
