---
import People from '@assets/icons/people.svg'
import Rol from '@assets/icons/rol.svg'
import University from '@assets/icons/university.svg'
import Orcid from '@assets/icons/orcid.svg'

// import Johan from '@assets/images/members/johan-manuel-alvarez-pinta.jpg'

const {
  image,
  name,
  orcid,
  rol,
  career,
  social_media,
  state,
  date_init,
  date_end,
} = Astro.props
---

<article class='h-[565px] flex flex-col gap-2'>
  <header class='h-[400px] overflow-hidden'>
    <img src={image} alt={name} class='w-full h-full object-cover' />
  </header>

  <main class='flex-1 flex flex-col gap-2 pt-2'>
    <div class='flex gap-2 font-medium items-center text-theme-title'>
      <People width={20} height={20} />

      <p>{name}</p>
    </div>
    <div
      class='flex gap-2 items-center [&>*]:text-theme-title [&>a]:text-theme-text text-xs'
    >
      <Orcid width={20} height={20} />
      <a href='#' target='_blank' rel='noopener noreferrer'>
        {orcid}
      </a>
    </div>
    <div
      class='flex gap-2 items-center [&>*]:text-theme-title [&>p]:text-theme-text text-xs'
    >
      <Rol width={20} height={20} />
      <p>{rol}</p>
    </div>
    <div
      class='flex gap-2 items-center [&>*]:text-theme-title [&>p]:text-theme-text text-xs'
    >
      <University width={20} height={20} />
      <p>{career}</p>
    </div>
  </main>

  <footer class='flex gap-2 items-center justify-between'>
    <section class='flex gap-2 items-center'>
      {
        social_media.map((social: any) => (
          <a
            href={social.link_red_social_media}
            target='_blank'
            rel='noopener noreferrer'
          >
            <img
              src={social.logo_red_social}
              alt={social.name_social_media}
              width={24}
              height={24}
            />
          </a>
        ))
      }
    </section>

    {
      state === false && (
        <section>
          <span class='text-xs text-theme-text bg-theme-decoration/10 px-3 py-1 rounded-xs border-1 border-theme-decoration'>
            {date_init} / {date_end}
          </span>
        </section>
      )
    }
  </footer>
</article>
