---
const { pathname } = Astro.url

import Facebook from '@assets/icons/facebook.svg'
import X from '@assets/icons/x.svg'
import Instagram from '@assets/icons/instagram.svg'
import Github from '@assets/icons/github.svg'

import Sun from '@assets/icons/sun.svg'
import Moon from '@assets/icons/moon.svg'

import Menu from '@assets/icons/menu.svg'
import Close from '@assets/icons/close.svg'

import Logo_pixel from '@assets/icons/logo_pixel.svg'

import Container from '@share_components/Container.astro'
import Split from '@share_components/Split.astro'

export const SOCIALS_MEDIA = [
  {
    name: 'Facebook',
    icon: Facebook,
    link: '#',
  },
  {
    name: 'Instagram',
    icon: Instagram,
    link: '#',
  },
  {
    name: 'X',
    icon: X,
    link: '#',
  },
  {
    name: 'Github',
    icon: Github,
    link: '#',
  },
]

const LINKS = [
  {
    name: 'Inicio',
    link: '/',
  },
  {
    name: 'Proyectos',
    link: '/projects',
  },
  {
    name: 'Publicaciones',
    link: '/publications',
  },
  {
    name: 'Eventos',
    link: '/events',
  },
  {
    name: 'Sobre Nosotros',
    link: '/about-us',
  },
]
---

<header class='relative flex h-[45vh] w-full flex-col overflow-hidden'>
  <Container
    styles='min-h-20 max-h-20 flex items-center justify-between relative'
  >
    <div class='text-theme-icon flex gap-5'>
      {
        SOCIALS_MEDIA.map(({ link, icon: Icon }) => (
          <a href={link} class='flex items-center gap-2'>
            <Icon class='' />
          </a>
        ))
      }
    </div>

    <nav class=''>
      <ul class='hidden items-center gap-5 text-sm font-medium md:flex'>
        {
          LINKS.map(({ name, link }) => (
            <li>
              <a
                href={link}
                class={
                  link === pathname
                    ? 'text-theme-decoration'
                    : 'text-theme-text'
                }
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <div class='text-theme-icon flex gap-6'>
      <button class='touch-change-theme cursor-pointer'>
        <Sun width={24} height={24} class='is-light' />
        <Moon width={24} height={24} class='is-dark' />
      </button>

      <button class='touch-open block cursor-pointer md:hidden'>
        <Menu width={24} height={24} />
      </button>
    </div>
  </Container>

  <Split />

  <section class='grid h-full place-content-center'>
    <div
      class='text-theme-title flex h-full items-center gap-4 sm:gap-6 md:gap-10'
    >
      <Logo_pixel
        class='size-[40px] sm:size-[60px] md:size-[80px] lg:size-[100px]'
      />

      <a href='/'>
        <h1
          class='font-micro5 text-5xl uppercase sm:text-7xl md:text-8xl lg:text-9xl'
        >
          Semillero <span class='text-theme-decoration'>Pixel</span>
        </h1>
      </a>
    </div>
  </section>
</header>

<!-- Menu para mobile -->
<header
  id='is-view'
  class='bg-theme-decoration fixed top-0 z-50 flex hidden h-screen w-full flex-col overflow-hidden md:hidden'
>
  <Container
    styles='min-h-20 max-h-20 flex items-center justify-between relative bg-theme-background'
  >
    <div class='text-theme-icon flex gap-5'>
      {
        SOCIALS_MEDIA.map(({ link, icon: Icon }) => (
          <a href={link} class='flex items-center gap-2'>
            <Icon class='' />
          </a>
        ))
      }
    </div>

    <nav
      class='absolute top-20 right-0 left-0 grid h-[92vh] place-content-center'
    >
      <ul class='flex flex-col items-center gap-6 text-xl font-medium'>
        {
          LINKS.map(({ name, link }) => (
            <li>
              <a
                href={link}
                class={
                  pathname === link
                    ? 'text-theme-title'
                    : 'text-theme-title-secondary'
                }
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <div class='text-theme-icon flex gap-6'>
      <button class='touch-change-theme cursor-pointer'>
        <Sun width={24} height={24} class='is-light' />
        <Moon width={24} height={24} class='is-dark' />
      </button>

      <button class='touch-close cursor-pointer'>
        <Close class='' width={24} height={24} />
      </button>
    </div>
  </Container>
</header>

<!-- Abrir o cerrar el menu -->
<script is:inline>
  const touchOpen = document.querySelector('.touch-open')
  const touchClose = document.querySelectorAll('.touch-close')
  const isView = document.querySelector('#is-view')

  function handleIsView() {
    isView.classList.remove('hidden')
  }

  function handleNotView() {
    isView.classList.add('hidden')
  }

  function handleTouchOpen() {
    touchOpen.addEventListener('click', handleIsView)
  }

  function handleTouchClose() {
    touchClose.forEach(el => el.addEventListener('click', handleNotView))
  }

  isView.addEventListener('click', e => {
    const nameElement = e.target.nodeName

    if (nameElement !== 'LI') {
      handleNotView()
    }
  })

  handleTouchClose()
  handleTouchOpen()
</script>

<!-- cambiar color de tema -->
<script is:inline>
  const html = document.querySelector('html')

  const isDark = document.querySelectorAll('.is-dark')
  const isLight = document.querySelectorAll('.is-light')

  const touchChangeTheme = document.querySelectorAll('.touch-change-theme')

  const localStorageTheme = localStorage.getItem('theme')

  handleChangeThemeIcon(localStorageTheme)

  function setLocalStorageTheme(theme) {
    localStorage.setItem('theme', theme)
  }

  if (localStorageTheme === 'dark') {
    handleChangeTheme()
  }

  function handleChangeTheme(e) {
    if (e) {
      e.stopPropagation()
    }
    html.classList.toggle('dark')

    const theme = html.classList.contains('dark') ? 'dark' : 'light'

    handleChangeThemeIcon(theme)

    setLocalStorageTheme(theme)
  }

  function handleChangeThemeIcon(theme) {
    if (theme === 'dark') {
      isDark.forEach(el => el.classList.remove('hidden'))
      isLight.forEach(el => el.classList.add('hidden'))
    } else {
      isDark.forEach(el => el.classList.add('hidden'))
      isLight.forEach(el => el.classList.remove('hidden'))
    }
  }

  touchChangeTheme.forEach(el =>
    el.addEventListener('click', handleChangeTheme)
  )
</script>
